body {
    background-color: black;
    color: white;
}

.cita-container {
  width: 80%;
  height: auto;
  margin: 100px auto;
  border: solid 4px dimgray;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.cita-card {
    width: 80%;
    height: auto;
    margin: 100px auto;
}

.imagen {
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-color: dimgray;
  border-radius: 30px 0 0 30px;
}

img {
  width: 400px;
  height: auto;
}

.descrip {
  width: 100%;
  background-color: dimgray;
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}

cite, h4{
    padding: 30px;
}

@media (max-width: 990px) {
  .imagen {
    border-radius: 0 0 30px 30px;
  }
  .descrip {
    border-radius: 30px 30px 0 0;
  }
}